**/node_modules
**/dist
**/.next
**/.mastra
**/.turbo
**/coverage
**/.env
**/.env.*
!**/.env.example
**/*.log
.git
.gitignore
.vscode
.idea
.claude
README.md
**/README.md
docker-compose.yml
**/Dockerfile
**/.dockerignore
postman
infra
