GOOGLE_GENERATIVE_AI_API_KEY=your-api-key
DATABASE_URL="postgresql://user:password@localhost:5432/unnamed_project"

# Clerk
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
CLERK_JWKS_URI=https://your-clerk-domain.clerk.accounts.dev/.well-known/jwks.json
